/*  ============== Member active ==============  */

.member_content{
	border-width:1px 1px 0 1px;
	margin-top:30px;
}

.activeSearch{
	width:100%;
}
.activeSearch dl{
	width:100%;
	margin:20px 0 0 0;
}
.activeSearch dt, .activeSearch dd{
	height:30px;
	line-height:30px;
	float:left;
}
.activeSearch dd a{
	display:inline-block;
	min-width:50px;
	height:28px;
	line-height:28px;
	border:1px solid #e4e4e4;
	padding:0 5px;
	text-align:center;
	color:#333;
	margin-right:10px;
}
.activeSearch dd a.curr{
	border:1px solid #ac8c48;
}
.activeSearch dd span{
	display:inline;
	float:left;
	border:1px solid #e4e4e4;
	padding:5px 3px;
	width:190px;
	margin-right:10px;
	-webkit-box-shadow:0 0 2px 1px #f6f6f6 inset;
	box-shadow:0 0 2px 1px #f6f6f6 inset;
}
.activeSearch dd span input{
	border:none;
	width:99%;
	color:#666;
	font-size:14px;
	height:18px;
	line-height:18px;
}
.activeSearch dd a.txtBtn{
	padding:0 10px;
}



.activeList th.txtLeft, .activeList td.txtLeft{
	text-align:left;
}
.activeList .activeTxt{
	text-align:left;
	padding-left:20px;
}
.activeList .activeTxt span{
	height:18px;
	line-height:18px;
	display:inline-block;
	width:165px;
	overflow:hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis; /*--4 opera--*/
	text-overflow: ellipsis;
}
.activeList .activeTxt a:hover span, .activeList .activeTxt a:active span{
	text-decoration:underline;
}
