<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="redisServer" value="192.168.1.107:6379,192.168.1.107:6379"/>
    <add key="memcacheServer" value="192.168.1.107:11211,192.168.1.107:11211"/>
    <add key="ComBeziWfsConnString" value="server=192.168.1.101;database=ComBeziWfs;user id=AppDBUser;password=userdb02@101;"/>
    <add key="ComBeziReportConnString" value="server=192.168.1.101;database=OcsReport;user id=AppDBUser;password=userdb02@101;Connect Timeout=900;"/>
    <!--0全部 1今日新开 2进行中 3已结束-->
    <add key="RunConfig" value="0"/>
    <!--提取数据间隔时间50分钟/3000000秒（单位毫秒）-->
    <add key="Period" value="3000000"/>
    <!--清除数据间隔时间1天/86400000秒（单位毫秒）-->
    <add key="ClearPeriod" value="86400000"/>
    <!--间隔月长度 默认2月-->
    <add key="SpaceLenMonthPeriod" value="2"/> 
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
