<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="priceRegionNew" value="P1-0-500,P2-500-1000,P3-1000-2000,P4-2000-5000,P5-5000-10000,P6-10000-20000,P7-20000-50000,P8-50000-50000000"/>
    <add key="WomenBagsv" value="A01B01,女士箱包"/>
    <add key="WomenClothingv" value="A01B02,女士服饰"/>
    <add key="WomenShoesv" value="A01B03,女士鞋靴"/>
    <add key="WomenAccessoriesv" value="A01B04,女士配饰"/>
    <add key="WomenHomesv" value="A01B05,女士家居"/>
    <add key="WomenWatchesv" value="A01B07,女士腕表"/>
    <add key="WomenBeautyv" value="A01B06,女士美妆"/>


    <add key="MenBagsv" value="A02B01,男士箱包"/>
    <add key="MenClothingv" value="A02B02,男士服饰"/>
    <add key="MenShoesv" value="A02B03,男士鞋靴"/>
    <add key="MenAccessoriesv" value="A02B04,男士配饰"/>
    <add key="MenHomesv" value="A02B05,男士家居"/>
    <add key="MenWatchesv" value="A02B07,男士腕表"/>
    <add key="MenBeautyv" value="A02B06,男士美妆"/>



    <!--登录页面是否需要手机验证和ip验证-->
    <add key="MobileValidateFlag" value="1" />
    <add key="IPValidateFlag" value="0" />
    <!--一个手机号一天限制发送5条-->
    <add key ="SMSLimitUserCount" value="200"/>
    <add key ="SMSLimitIpCount" value="200"/>
    <add key ="SMSLimitTargetCount" value="200"/>
    <add key ="SMSLimitContentCount" value="200"/>
    <add key ="SMSLimitMinuteCount" value="200"/>
    <!-- 短信服务地址 -->
    <add key="SmsTcpServer" value="tcp://192.168.1.103:8087/ISendSMS" />
    <!-- 短信服务码 -->
    <add key="SmsAuthorizationCode" value="3SDK-EMY-0130-KCQLR" />


    <add key ="LoginCookieName" value="SHANGPIN_OCS_LOGINUSER"/>
    <!--统一列表页分页显示条数-->
    <add key="ComonListPageNum" value="20"/>
    <!--优惠券列表分页显示条数-->
    <add key="PromotionCouponListNumPerPage" value="30"/>
    <!--女士一级导航-->
    <add key="WNewNavigationNo" value="A01" />
    <!--男士一级导航-->
    <add key="MNewNavigationNo" value="A02" />
    <!--图片尺寸-->
    <add key="InputSystemImgType" value=".jpg/.gif"/>
    <add key="BelongsSubjectPic" value="width:640,Height:640,Length:300"/>
    <!--编辑器代码中图片尺寸-->
    <add key="editorImg" value="width:0,Height:0,Length:500"/>
    <!--编辑器中上传图片限制大小 以“k” 为单位-->
    <add key="editorImgMaxSize" value="500"/>
    <!--编辑器上传图片类型限制-->
    <add key="editoryImgType" value=".jpg/.gif/.png"/>
    <!--20131129重写奥莱活动头图尺寸-->
    <add key="FlapPic" value="width:980|0,Height:300|300,Length:500|500"/>
    <add key="FlapPic1" value="width:360|360,Height:290|290,Length:300|300"/>
    <add key="FlapPic2" value="width:1680|1680,Height:390|390,Length:500|500"/>
    <add key="AdPic" value="width:600,Height:230,Length:150"/>
    <add key="IPhonePic" value="width:608,Height:380,Length:150"/>
    <add key="HeadPic" value="width:48,Height:48,Length:200"/>
    <!--20131129新增专题尺寸信息-->
    <add key="ToppicFlapPic" value="width:1680,Height:390,Length:500"/>
    <add key="ToppicWapPicFileNo" value="width:640|640,Height:640|640,Length:150|150"/>
    <add key="ToppicIPhonePicFileNo" value="width:640,Height:400,Length:150"/>
    <add key="ToppicWapPicFileNoNew" value="width:640,Height:640,Length:150"/>
    <!--品牌索引图-->
    <add key="BrandIndexPic" value="width:316,Height:190,Length:50"/>
    <!--品牌旗舰店图片-->
    <add key="BrandFlagshipPic" value="width:235,Height:140,Length:100"/>
    <!--移动端广告图-->
    <add key="MobileAdPicType" value=".jpg/.png"/>
    <add key="MobileAdPic" value="width:608,Height:380,Length:150"/>
    <!--频道主推活动图片-->
    <add key="ChannelFeAdPicType" value=".jpg/.gif"/>
    <add key="ChannelFeAdPic" value="width:460,Height:460,Length:150"/>
    <!--频道主推活动图片-->
    <add key="ChannelFeAdPicType" value=".jpg/.gif"/>
    <add key="ChannelFeAdPic" value="width:460,Height:460,Length:150"/>
    <!--会场图片格式-->
    <add key="VeuneImgType" value=".jpg/.gif/.jpeg/.png/.bmp"/>
    <!--尚品Style搭配专题图片-->
    <add key="MatchSpecialPicType" value=".jpg"/>
    <add key="MatchSpecialPic" value="width:230,Height:132,Length:200"/>
         <!--活动展示个数-->
    <add key="SubjectShowCount" value="100"/>
    <!--活动商品展示个数-->
    <add key="SubjectProductShowCount" value="1000"/>

    <!--商品排序的搜索接口-->

    <add key="ProductSortList" value="http://192.168.9.38:8080/spcms/ProductSortList?"/>
    <!--192.168.1.107-->
    <add key="ProductLabelList" value="http://192.168.9.38:8080/"/>

    <!--库存接口-->
    <add key="ErpInventoryService" value="http://erpws.liantiao.com/webservice/stockwebservice.asmx"/>
    <add key="ErpWSProductBuyPriceService" value="http://erpws.liantiao.com/WebService/ToWfsWebService.asmx"/>
    <!--OCS分类-->
    <add key="CategoryList" value="http://192.168.9.38:8080/spocs/BrandCategoryList?"/>
    <!--搜索频道首页下的品牌编号和子分类接口-->
    <add key="SearchInterFaceUrl" value="http://192.168.9.38:8080"/>
    <add key="PriceRegion" value="1-1000,1000-2000,2000-4000,4000-80000000"/>
    <!--库存接口开关,true则使用接口，false使用dll -->
    <add key="InventoryFlag" value="true"/>
    <!--会场移动端入口图片规格-->
    <add key="MeetingMobilePic" value="width:640,Height:200,Length:150"/>
    <!--活动分组广告图-->
    <add key="SubjectChildAdPic" value="width:940,Height:0,Length:0"/>

    <add key="WomenBags" value="A01B01"/>
    <add key="WomenClothing" value="A01B02"/>
    <add key="WomenShoes" value="A01B03"/>
    <add key="WomenAccessories" value="A01B04"/>
    <add key="WomenHomes" value="A01B05"/>
    <add key="WomenBeauty" value="A01B06"/>
    <add key="WomenWatches" value="A01B07"/>

    <add key="MenBags" value="A02B01"/>
    <add key="MenClothing" value="A02B02"/>
    <add key="MenShoes" value="A02B03"/>
    <add key="MenAccessories" value="A02B04"/>
    <add key="MenHomes" value="A02B05"/>
    <add key="MenBeauty" value="A02B06"/>
    <add key="MenWatches" value="A02B07"/>
    <!--20130906商品后台活动图片-->
    <add key="ActiveTopImg" value="width:960,Height:250,Length:300"/>
    <add key="ActiveBackImg" value="width:1200|1900,Height:0|0,Length:400|400"/>
    <add key="ActiveHotBackImg" value="width:1200|1900,Height:0|0,Length:400|400"/>
    <add key="ActiveHotOneImg" value="width:310,Height:0,Length:100"/>
    <add key="ActiveHotTwoImg" value="width:310,Height:0,Length:100"/>
    <add key="ActiveHotLogoImg" value="width:250,Height:100,Length:100"/>
    <add key="GroupImage" value="width:960,Height:0,Length:400"/>
    <add key="ActiveHrefUrlShow" value="http://www20.shangpin.com/women/subject/{0}"/>
    <add key="redisConfig" value="192.168.1.107:6379"/>
    <add key="IphoneActiveTopImg" value="width:640,Height:0,Length:400"/>
    <add key="IphoneGroupImg" value="width:640,Height:0,Length:150"/>
    <add key="IphoneClientImg" value="width:640,Height:584,Length:150"/>
    <add key="IphoneWapImg" value="width:640,Height:320,Length:150"/>
    <add key="IphoneFlapHotOne" value="width:640,Height:90,Length:100"/>
    <add key="IphoneImg" value="width:640,Height:0,Length:100"/>
    <add key="PuzzlePic1" value="width:960,Height:65,Length:100"/>
    <add key="PuzzlePic2" value="width:300,Height:370,Length:100"/>
    <add key="PuzzlePic3" value="width:340,Height:180,Length:100"/>
    <add key="PuzzlePic4" value="width:340,Height:180,Length:100"/>
    <add key="PuzzlePic5" value="width:300,Height:370,Length:100"/>
    <add key="PuzzlePic6" value="width:191,Height:74,Length:50"/>
    <add key="PuzzlePic7" value="width:191,Height:74,Length:50"/>
    <add key="PuzzlePic8" value="width:191,Height:74,Length:50"/>
    <add key="PuzzlePic9" value="width:191,Height:74,Length:50"/>
    <add key="PuzzlePic10" value="width:191,Height:74,Length:50"/>

    <add key="StartActiveHotOneImg" value="width:177,Height:113,Length:100"/>
    <add key="StartActiveHotTwoImg" value="width:177,Height:113,Length:100"/>
    <add key="StartIphoneFlapHotOne" value="width:640,Height:90,Length:400"/>


    <!--尚品奥莱会场地址链接-->
    <add key="ShangpinActiveHrefUrlShow" value="http://www20.shangpin.com/women/subject/"/>
    <add key="AoLaiActiveHrefUrlShow" value="http://www20.aolai.com/subject/index/"/>
    <add key="AoLaiSpecialHrefUrlShow" value="http://www20.aolai.com/topic/index/"/>
    <add key="VenueHrefUrlShow" value="http://www20.shangpin.com/Venue/Index/"/>
    <!--清除Redis缓存-->
    <add key="RedisCacheProviderKeyShow" value="192.168.1.104:6379,192.168.1.107:6379"/>
    <add key="RedisCacheNewSubjectTopicNo" value="ShangpinSWfsNewSubjectProductListByTopicNo"/>

    <!--CMS清理缓存配置-->
    <add key="memcacheServer" value="192.168.1.107:11211,192.168.1.107:11211"/>
    <add key="redisServer" value="192.168.1.107:6379,192.168.1.107:6379"/>
    <add key="NginxServers" value=""/>
    <add key="memcached" value="192.168.1.107:11211,192.168.1.107:11211"/>
    <!--招行分期订单列表Excel保存物理路径-->
    <add key="ExcleSavePath" value="D:\ocsv2\ocsv2\Shangpin.Ocs.Web\ImportFile"/>
    <add key="ExcelFileWeb" value="http://shangpin.ocs.web/ImportFile/"/>
    <!--奥莱秒杀新增配置2014-1-14-->
    <add key="AolaiDomain" value="http://www20.aolai.com/"/>
    <add key="ShangpinDomain" value="http://www20.shangpin.com/"/>
    <!--奥莱移动端活动早晚场分组图片尺寸-->
    <add key="AolaiSubjectGroupTime" value="width:32,Height:32,Length:100" />
    <!--尚品品牌广告图片尺寸-->
    <!--左侧运营位-->
    <add key="BrandAdPic" value="width:570,Height:200,Length:150"/>
    <!--右侧运营位-->
    <add key="BrandAdPic2" value="width:380,Height:200,Length:150"/>

    <add key="NewCommingDate" value=""/>
    <add key="StructRegion" value="编辑推荐,明星模特演绎,细节工艺介绍,试穿体验"/>
    <!--频道类型编号-->
    <!--女士 > 美妆BEAUT 6-->
    <add key="A01B06" value="260" />
    <!--男士 > 美妆BEAUT-->
    <add key="A02B06" value="266" />
    <!--男士 > 鞋靴SHOES-->
    <add key="A02B03" value="265" />
    <!--男士 > 腕表眼镜WATCHES-->
    <add key="A02B07" value="264" />
    <!--男士 > 箱包BAGS-->
    <add key="A02B01" value="263" />
    <!--女士 > 家居HOME 7-->
    <add key="A01B05" value="261" />
    <!--女士 > 腕表眼镜WATCHES-->
    <add key="A01B07" value="262" />
    <!--女士 > 配饰ACCESSORIES 5-->
    <add key="A01B04" value="259" />
    <!--女士 > 箱包BAGS 4-->
    <add key="A01B01" value="258" />
    <!--女士 > 鞋靴SHOES 3 -->
    <add key="A01B03" value="257" />
    <!--男士 > 服饰CLOTHING 2-->
    <add key="A02B02" value="256" />
    <!--女士 > 服饰CLOTHING 1-->
    <add key="A01B02" value="255" />

    <!--最新导航编号-->
    <!--女装|男装|鞋靴|箱包|配件|美妆|家居-->
    <add key="NaviContent" value="NV001_A01B02|NV002_A02B02|NV003_A01B03,A02B03|NV004_A01B01,A02B01|NV005_A01B04,A02B04|NV006_A01B06|NV007_A01B05"/>


    <add key="NewCommingDate" value=""/>
  </appSettings>
</configuration>