<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <shangPinConfig>
    <dynamicDiscovery enabled="true" />
    <engine type="" />
    <themes basePath="~/Themes/" />
    <captchaSettingsEnabled enabled ="false"/>
    <reCaptchaPrivateKey value=""></reCaptchaPrivateKey>
    <reCaptchaPublicKey value=""></reCaptchaPublicKey>
    <!-- 专用于JS CSS 文件-->

    <scriptCdnSite value="http://pic.shangpincdn.com"></scriptCdnSite>
    <cssCdnSite value="http://pic.shangpincdn.com"></cssCdnSite>
    <contentCdnSite value="http://pic.shangpincdn.com"></contentCdnSite>
    <!--架构优化-->
    <sslSupportImageSite value="pic02.shangpincdn.com"></sslSupportImageSite>
    <turnonForceSsl value="false"></turnonForceSsl>
    <!--END-->

    <!--<contentCdnSite value="http://img01.shangpincdn.com;http://img02.shangpincdn.com;http://img03.shangpincdn.com;http://img04.shangpincdn.com;http://img05.shangpincdn.com;http://img06.shangpincdn.com"></contentCdnSite>-->

    <!--http://www.baidu.com;http://www.google.cn-->
    <imageSites value ="http://pic02.shangpincdn.com"></imageSites>
    <!--<imageSites value ="http://img01.shangpincdn.com;http://img02.shangpincdn.com;http://img03.shangpincdn.com;http://img04.shangpincdn.com;http://img05.shangpincdn.com;http://img06.shangpincdn.com"></imageSites>-->
    <useStaticImageUrl value="false"></useStaticImageUrl>

    <useNewImageSolution value="true"></useNewImageSolution>

    <redisConfig>
      <server hosts="192.168.1.107:6379,192.168.1.107:6379"></server>
    </redisConfig>

   <caching>
      <outputCache defaultProvider="DistributedCacheProvider" enableOutputCache="true">
        <!--AspNetInternalProvider-->
        <!--DistributedCacheProvider-->
        <providers>
          <add name="DistributedCacheProvider" type="Shangpin.Framework.WebMvc.MvcDonutCaching.RedisOutputCacheProvider,Shangpin.Framework.WebMvc" />
        </providers>
      </outputCache>

      <outputCacheSettings>
        <outputCacheProfiles time="9:45-10:15" multiple="5">
          <!-- 奥莱缓存标签设置 注意奥莱缓存时间不能超过60ms-->
          <add name="Outlet_CalenderController_Index" duration= "50" varyByParam="*" />
          <add name="Outlet_CalenderController_SelectSubjects" duration="0" varyByParam="*" />
          <add name="Outlet_DetailController_Detail" duration="60" varyByParam="*"/>
          <add name="Outlet_DetailController_GetBrandStory" duration="0" varyByParam="*"/>
          <add name="Outlet_DetailController_GetProductAttrPicList" duration="0" varyByParam="*"/>
          <add name="Outlet_DetailController_AjaxProductDetail" duration="0" varyByParam="*"/>
          <add name="Outlet_DetailController_AjaxGetService" duration="0" varyByParam="*"/>
          <add name="Outlet_DetailController_AjaxLikedProducts" duration="60" varyByParam="*" />
          <add name="Outlet_GroupController_Detail" duration="60" varyByParam="*" />
          <add name="Outlet_HomeController_Index" duration="60" varyByParam="*" />
          

          <add name="Outlet_SubjectController_GetProductImg" duration="60" varyByParam="*" />
          <add name="Outlet_HomeController_GetSubjects" duration="60" varyByParam="*"/>
          <add name="Outlet_SubjectController_Index" duration="60" varyByParam="*"/>
          <add name="Outlet_SubjectController_GetProduct" duration="0" varyByParam="*"/>
          <add name="Outlet_SubjectController_PreOrEndSubject" duration="0" varyByParam="*"/>
          <add name="Outlet_SubjectController_AjaxGetReminderUsers" duration="0" varyByParam="*"/>
          <add name="Outlet_SubjectController_SubjectHead" duration="0" varyByParam="*" />
          <add name="Outlet_TopicController_Index" duration="0" varyByParam="*" />
          <add name="Outlet_HomeController_Mobile" duration="60" varyByParam="*" />
          
          <!-- 尚品缓存设置-->
          <add name="Shangpin_BrandController_Index" duration="60" varyByParam="*" />
          <add name="Shangpin_BrandController_BrandContent" duration="60" varyByParam="*" />
          <add name="Shangpin_BrandController_BrandDetail" duration="0" varyByParam="*" />
          <add name="Shangpin_BrandController_BrandDetailAuth" duration="60" varyByParam="*" />
          <add name="Shangpin_BrandController_BrandListAuth" duration="60" varyByParam="*" />
          <add name="Shangpin_BrandController_BrandList" duration="60" varyByParam="*" />
          <add name="Shangpin_BrandController_BrandListNew" duration="60" varyByParam="*" />
          <add name="Shangpin_BrandController_BrandHot" duration="60" varyByParam="*" />

          <add name="Shangpin_MainController_Index" duration="60" varyByParam="*" />
          <add name="Shangpin_MainController_Navigation" duration="60" varyByParam="*" />
          <add name="Shangpin_MainController_CaiBei" duration="60" varyByParam="*" />
          <add name="Shangpin_ProductController_PromotionProducts" duration="60" varyByParam="*" />
          
          <add name="Shangpin_ProductController_ProductList" duration="60" varyByParam="*" />
          <add name="Shangpin_ProductController_Baolantianxia" duration="60" varyByParam="*" />
          <add name="Shangpin_ProductController_JsonProductList" duration="60" varyByParam="*" />
          <add name="Shangpin_ProductController_AjaxRecommendProduct" duration="60" varyByParam="*" />
          <add name="Shangpin_ProductController_NewProduct" duration="60" varyByParam="*" />
          <add name="Shangpin_ProductController_ProductDetail" duration="0" varyByParam="*" />
          <add name="Shangpin_ProductController_AjaxGetDiscription" duration="60" varyByParam="*" />
          <add name="Shangpin_TotalTopicController_Index" duration="60" varyByParam="*" />
          <add name="Shangpin_TrendsController_Index" duration="60" varyByParam="*" />
          <add name="Shangpin_TrendsController_JsonProductList" duration="60" varyByParam="*" />
          <add name="Shangpin_SalesController_Index" duration="60" varyByParam="*" />
          <add name="Shangpin_ProductDetailController_Group" duration="60" varyByParam="*" />
          
          <add name="Shangpin_SearchController_Index" duration="60" varyByParam="*" />
          <add name="Shangpin_SearchController_GetGroupproductInfo" duration="60" varyByParam="*" />

          <add name="Shangpin_StyleShangController_Index" duration="60" varyByParam="*" />

          <add name="Shangpin_ZhitongcheController_Index" duration="60" varyByParam="*" />

          <add name="Shangpin_HeadFootController_HeadBanner" duration="60" varyByParam="*" />
          
          <add name="Shangpin_ExperienceReportController_List" duration="60" varyByParam="*"></add>

          <add name="Shangpin_GiftCardController_ProductList" duration="60" varyByParam="*" />
          <add name="Shangpin_GiftCardController_ProductDetail" duration="60" varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>

  </shangPinConfig>
</configuration>