@{
    Layout = null;
}
      <style type="text/css">
        tr,td{height:30px;font: 400 12px "微软雅黑", "Microsoft YaHei", "Tahoma", "宋体"}
        
       </style>

    <script src="/Contents/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#CommentConfigCancel").bind("click", parent.window.TrueInfo);

            $("#CommentConfigSubmit").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Shangpin/detail/SaveCommentConfig.html",
                    data: "functionNo=FC01&configV=" + $("input[name='CommentConfig']:checked").val(),
                    dataType: "json",
                    success: function (data) {
                        if (data.Successed) {
                            $("table").children("tbody").html("<tr><td>修改成功！</td></tr>");
                            setTimeout("parent.window.TrueInfo()",200);
                        }
                    }
                });
            });//

            $.ajax({
                type: "POST",
                url: "/Shangpin/detail/GetCommentConfig.html",
                data: "functionNo=FC01",
                dataType: "json",
                success: function (data) {
                    //alert(data.Message);
                    if (data.Successed) {
                        $("input[value='" + data.Message + "']:radio").attr("checked", "checked");
                    }
                }
            });


        });
    </script>

    <table cellpadding="0" cellspacing="0" border="0" style="margin:20px;padding:10px;" width="80%">
        <tbody>
            <tr>
                <td colspan="3">将需要审核的内容更改为：</td>
            </tr>
            <tr>
                <td><input name="CommentConfig" type="radio" value="1" />只审核带图片的评论</td>
                <td><input name="CommentConfig" type="radio" value="2" />全部需要审核</td>
                <td><input name="CommentConfig" type="radio" value="3" />全部不需要审核</td>
            </tr>
            <tr><td colspan="3"></td></tr>
            <tr>
                <td><input type="button" name="CommentConfigSubmit" id="CommentConfigSubmit" value="确认修改" /></td>
                <td colspan="2"><input type="button" name="CommentConfigCancel" id="CommentConfigCancel" value="取消" /></td>
            </tr>
        </tbody>
    </table>