.sp_ifc_bags {
	background: url(/images/page/ifc/women/main_bg.jpg) no-repeat center top;
}
.sp_bagstitle_tab a {
	width: 159px;
}
.sp_bagstitle_tab a.cur {
	background: url(/images/page/ifc/women/title_tab_icon.png) no-repeat center top;
	border-color: #aa173e;
}
.sp_ifc_bagscn li a span ins {
	color: #fd3b78;
}
.ifc_right_box h3 {
	background-image:url(/images/page/ifc/women.png);
}