body { _background-image: url(about:blank); _background-attachment: fixed; }
.sp_body { background-color: #d6bcbc; }

.banner_box { position: relative; width: 100%; height: 641px; overflow: hidden;}
#main_bg {position: absolute; left: 50%; margin-left: -960px; top: 0; z-index: 1;}

.main_box .topBg{background:url(/images/page/Thanksgiving2/topbox_bg.jpg) repeat-x; height:330px;}
.main_box .box .boxWarp{position: relative; padding: 0 13px; width:934px; overflow: hidden;}
.main_box .box .topBox_bg{background:url(/images/page/Thanksgiving2/top_bg.jpg) no-repeat 650px top;}
.main_box .box .btmBox{padding-bottom:13px;}

.main_box .box h3 {margin-bottom: 18px;}
.main_box .time_box{background-color:#ecdfdf;}
.main_box #time_nav { position: absolute; right: 60px; top: 40px; }
.main_box #time_nav a { display: block; float: left; height:35px; line-height:35px; width: 164px; text-align: center; color: #fff; font-size: 18px; background: #a2226a url(/images/page/Thanksgiving2/tab_bg.png) repeat-x center top; margin-right: 5px; }
.main_box #time_nav a:link, .main_box #time_nav a:visited { color: #fff; }
.main_box #time_nav a.cur, .main_box #time_nav a.cur:link, .main_box #time_nav a.cur:visited { background: #fff; color: #d85d5f; height:34px; line-height:34px; border: 1px solid #b39084; border-bottom: none; }

.main_box .box ul { width: 952px; }
.main_box .box ul li { float: left; margin: 0 18px 18px 0; width: 220px; height: 300px; background-color: #c5c5c5; }
.main_box .box ul li img { display: block; width:220px; height:300px; }
.main_box .box ul li a { display: block; position: relative; z-index: 1; }

.main_box .box_five ul li { width: 175px; height: 330px; margin-right: 15px; margin-bottom:0;}
span.hover_bg { display: none; position: absolute; top: 0; left: 0; z-index: 2; background: url(/images/page/Thanksgiving2/hover_bg.png) no-repeat center; height: 300px; width: 220px; border: none; padding: 0; _background: url(/images/page/Thanksgiving2/hover_bg_ie6.png) no-repeat center; _filter: alpha(opacity = 40); }
.box_five span.hover_bg { width: 175px; height: 330px; }
.main_box .box_five ul li img{width:175px; height:330px;}

.main_box .box .btmImg{width:100%; height:150px; background-color:#bfbfbf;}

