<?xml version="1.0" encoding="utf-8"?>
<OCSCategories>
  <!--首页楼层begin-->
  <add key="root_women" value="NV001" CategoryName="女装"/>
  <add key="root_men" value="NV002" CategoryName="男装"/>
  <add key="root_shoes" value="NV003" CategoryName="鞋靴"/>
  <add key="root_bags" value="NV004" CategoryName="箱包"/>
  <add key="root_accessories" value="NV005" CategoryName="配件"/>
  <add key="root_beauty" value="NV006" CategoryName="美装"/>
  <add key="root_home" value="NV007" CategoryName="家居"/>
  <!--首页楼层end-->

  <!--首页楼层二级begin-->
  <add key="spMenu_women" value="A01B02" CategoryName="女装" ParentCategoryNo="NV001" />
  <add key="spMenu_men" value="A02B02" CategoryName="男装" ParentCategoryNo="NV002" />
  <add key="spMenu_womenshoes" value="A01B03" CategoryName="女士鞋靴" ParentCategoryNo="NV003" />
  <add key="spMenu_menshoes" value="A02B03" CategoryName="男士鞋靴" ParentCategoryNo="NV003" />
  <add key="spMenu_womenbags" value="A01B01" CategoryName="女士箱包" ParentCategoryNo="NV004" />
  <add key="spMenu_menbags" value="A02B01" CategoryName="男士箱包"  ParentCategoryNo="NV004" />
  <add key="spMenu_womenaccessories" value="A01B04" CategoryName="女士配件"  ParentCategoryNo="NV005" />
  <add key="spMenu_menaccessories" value="A02B04" CategoryName="男士配件"  ParentCategoryNo="NV005" />
  <add key="spMenu_beauty" value="A01B07" CategoryName="美装"  ParentCategoryNo="NV006" />
  <add key="spMenu_home" value="A01B05" CategoryName="家居"  ParentCategoryNo="NV007" />
  <!--首页楼层二级end-->
</OCSCategories>