@charset "utf-8";
/* CSS Document */

.clr:after, .clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }
.spTop { width: 320px; height: 240px; margin: 0 auto; overflow: hidden; position: relative; }
.spTop a.story { display: block; width: 65px; height: 26px; line-height: 26px; position: absolute; top: 180px; left: 90px; color: #803900; text-align: center; font-size: 12px; }
.spTop a.dream { display: block; width: 70px; height: 70px; position: absolute; top: 60px; left: 225px; }
.spTop a.surprise { display: block; width: 70px; height: 70px; position: absolute; top: 158px; left: 225px; }
.sp11Box { width: 320px; margin: 0 auto; }
.sp11Box h2 { height: 48px; width: 100%; }
.sp11Box h3 { padding: 0 10px; height: 45px; line-height: 45px; color: #c01179; font-size: 20px; }
.sp11Box h3 em { font-size: 30px; }
.sp11List { width: 100%; }
.sp11List li { width: 145px; height: 210px; vertical-align: top; margin: 0 0 10px 10px; float: left; overflow: hidden; background-color: #ccc; }
.sp11List li a { display: block; }
.sp11List li img { width: 145px; height: 210px; }
.sptopList li { height: 273px; }
.sptopList li img { width: 145px; height: 273px; }
/**/
#J_m-slider{width:320px;height:480px;margin:0 auto;overflow:hidden;padding:0;position:relative;}
#J_m-slider .slider-outer{width:320px;height:480px;overflow:hidden;position:relative;}
#J_m-slider ul{width:1600px;height:480px;position:absolute;left:0;top:0;}
#J_m-slider ul li{width:320px;height:480px;overflow:hidden;float:left; position:relative; background:#333;}
#J_m-slider ul li a#invite_friends,#J_m-slider ul li a#back_to_home{ position:absolute; display:block; width:88px; height:24px;}
#J_m-slider ul li a#invite_friends{ top:131px; left:70px;}
#J_m-slider ul li a#back_to_home{ top:259px; left:112px; width:96px; height:26px;}
#J_m-slider ul li .text_box{ position:absolute;  font-size:12px; color:#fff; line-height:1.4; top:0; left:0;}
#J_m-slider ul li .text_box span{ color:#fcda71;}
#J_m-slider ul li .text_box img{ margin:10px 0; display:block;}
#J_m-slider ul li i{ position:absolute; top:0; left:0;}
#J_m-slider ul li#slider_one .text_box{ width:160px; top:44px; left:150px;}
#J_m-slider ul li#slider_two .text_box{left: 92px;top: 60px;line-height: 1.6;}
#J_m-slider ul li#slider_three .text_box{left: 0px;top: 48px; width:100%; text-align:center;color:#0f0e0d;line-height: 1.6;}
#J_m-slider ul li#slider_four .text_box{ width:90%; left:5%; top:50px; text-align:center;line-height: 1.6;}
#J_m-slider ul li#slider_five .text_box{ width:220px; left:68px; top:36px;line-height: 1.6;}
#J_m-slider ul li#slider_six .text_box{ width:220px; left:50px; top:22px; text-align:center;line-height: 1.6;}

#J_m-slider .slider-status{width:100%;height:10px;bottom:10px;left:0;text-align:center;}
#J_m-slider .slider-status span{display:inline-block;width:6px;height:6px;background-color:#707070;;border-radius:3px;line-height:3px;cursor:pointer;margin:0 5px 0 0;}
#J_m-slider .slider-status span.sel{background-color:#ccc;}

