@using Shangpin.Ocs.Web.Infrastructure;
@using Shangpin.Ocs.Service;
@using Shangpin.Entity.Wfs;
@{
    Layout = "~/Areas/Shangpin/Views/Shared/_Layout.cshtml";
    int genderValue = Shangpin.Ocs.Service.Rq.GetIntQueryString("gender");
    ViewBag.Title = "创建轮播图";
    string url = Request.UrlReferrer != null ? Request.UrlReferrer.ToString() : "/shangpin/homepage/IndexList.html?gender=" + genderValue;
}
@section HeadScript{
    <script src="/Areas/Shangpin/Scripts/lib/jquery.form.js" type="text/javascript"></script>
    <script src="/Areas/Shangpin/Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>

}
@section HeadStyle
{
    <style type="text/css">
        .hotblock {
            display: none;
        }

        .titleColor, span {
            color: Red;
        }
    </style>
}
<h1>
    OCS > 尚品 >频道页管理><a href="/Shangpin/NewChannels/Shoes.html">创建轮播图</a>
</h1>
<hr style="border: 1px solid Black; border-left: none; border-right: none; height: inherit;" />
<!-- 添加活动 start -->
<div id="mx-rightcontent-addbox" class="mx-rightcontent-msgbox">
    <form id="formAddSubject" action="/shangpin/NewChannels/CreateTopSwitchNew?PageNo=@Request.QueryString["PageNo"]" method="post" enctype="multipart/form-data">
        <input type="hidden" id="PageNo" name="PageNo" value="@Request.QueryString["PageNo"]" />
        <dl>
            <dt class="titleColor">图片标题：</dt>
            <dd>
                <input id="SubjectName" type="text" name="SubjectName" value="" maxlength="30" />
                <span>*图片标题不能大于30字符</span>
            </dd>
        </dl>

        <dl>
            <dt class="titleColor">状态：</dt>
            <dd>
                <input type="radio" name="Status" value="1" id="Status1" checked="checked" /><label for="Status1">开启</label>
                <input type="radio" name="Status" value="0" id="Status0" /><label for="Status0">关闭</label>
            </dd>
        </dl>

        <dl>
            <dt class="titleColor">轮播位：</dt>
            <dd>
                <input id="PagePosition001" type="radio" value="1" name="PagePosition" onclick="onClickSubmitType(1)" />
                <label for="bubm001">
                    第一帧
                </label>
                <input id="PagePosition002" type="radio" value="2" name="PagePosition" onclick="onClickSubmitType(1)" />
                <label for="PagePosition002">
                    第二帧
                </label>
                <input id="PagePosition003" type="radio" value="3" name="PagePosition" onclick="onClickSubmitType(1)" />
                <label for="PagePosition003">
                    第三帧
                </label>
            </dd>
        </dl>


        <dl>
            <dt class="titleColor">图片上传： </dt>
            <dd>
                <input id="FlapHotTwo" type="file" name="FlapHotTwo" />
                <span>*尺寸：770*320;格式：jpg gif;大小：500K以下</span>

            </dd>
        </dl>
        <dl>
            <dt>链接地址： </dt>
            <dd>
                <input id="HotTwoUrl" type="text" name="HotTwoUrl" value="" />
                <span>*格式：http://www.shangpin.com，开头"http://"</span>
            </dd>
        </dl>

        <dl>
            <dt class="titleColor">开始时间：</dt>
            <dd>
                <input id="DateBegin" name="DateBegin" class="Wdate" type="text" onclick="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm:00'})" />
            </dd>
        </dl>

        <dl class="hotblock">
            <dt class="titleColor">结束时间：</dt>
            <dd>
                <input id="DateEnd" name="DateEnd" class="Wdate" type="text" onclick="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm:00'})" />
            </dd>
        </dl>

        <dl>
            <dt>&nbsp;</dt>
            <dd>
                <button type="button" id="btnSave" name="" value="" class="secondary" onclick="return CheckSubmit();">
                    确 定
                </button>
                <button type="button" id="btnCancle" name="" value="" onclick="window.location='@url'">
                    取 消
                </button>
            </dd>
        </dl>
        <input type="hidden" id="relationGender" name="relationGender" value="@(Rq.GetIntQueryString("gender"))" />
        <input type="hidden" id="PictureManageId" name="PictureManageId" value="0" />
    </form>
    <script type="text/javascript">
        function onClickSubmitType(type) {
            if (type == 1) {
                $(".hotblock").hide();
            }
            else {
                $(".hotblock").show();
            }

        }
        function CheckSubmit() {
            if (!FlagEmpty("SubjectName")) {
                alert("图片标题不能为空");
                return false;
            }
            if (!CountChar("SubjectName", 30)) {
                alert("图片标题为15汉字或者30字符");
                return false;
            }
            if (!FlagCheckBoxCheck("PagePosition")) {
                alert("请选择轮播位！");
                return false;
            }
            if (!FlagEmpty("FlapHotTwo")) {
                alert("请选择上传图片");
                return false;
            }
            if (!FlagEmpty("DateBegin")) {
                alert("请选择开始时间");
                return false;
            }
            if (FlagCheckBoxCheckBool("80", "PagePosition")) {
                if (!FlagEmpty("DateEnd")) {
                    alert("请选择结束时间");
                    return false;
                }
            }
            FormSubmit();
        }
        function FormSubmit() {
            $("#formAddSubject").ajaxSubmit({
                success: function (html) {
                    if (typeof (html) == "string") {
                        var rs = html.substring(html.indexOf("{"), html.indexOf("}") + 1);
                        data = eval("(" + rs + ")");
                    }
                    else {
                        data = html;
                    }
                    if (data.result != "1") {
                        alert(data.message);
                        return false;
                    }
                    else if (data.result == "1") {
                        alert("保存成功！");
                        window.location = "/Shangpin/NewChannels/ShoesTopPiclist.html?PageNo=" + $("#PageNo").val();
                        return true;
                    }
                }
            })
        }


        //判断输入字符个数
        function SendCountChar(id) {
            var msg = $("#" + id).val()
            var nums = msg.replace(/[^\x00-\xff]/g, "00").length;
            return nums;
        }

        //判断文本框是否为空
        function FlagEmpty(Id) {
            var msg = $("#" + Id).val()
            if (msg == "" || msg == null || msg == undefined) {
                return false;
            }
            return true;
        }
        //判断复选框有没有都不选
        function FlagCheckBoxCheck(Name) {
            var SordNos = "";
            $("input[name='" + Name + "']:checked").each(function () {
                SordNos += $(this).val() + ",";
            });
            if (SordNos == "") {
                return false;
            }
            return true;
        }
        //判断复选框有固定值
        function FlagCheckBoxCheckBool(nvalue, Name) {
            var SordNos = "";
            $("input[name='" + Name + "']:checked").each(function () {
                SordNos = $(this).val();

            });
            if (SordNos == nvalue)
            { return true; }
            return false;
        }
        //判断字符个数是否超出限制
        function CountChar(id, len) {
            var msg = $("#" + id).val()
            var nums = msg.replace(/[^\x00-\xff]/g, "00").length;
            if (nums > len) {
                return false;
            }
            return true;
        }
        //判断有多少个回车
        function CheckEnter(id, len) {
            var msg = $("#" + id).val()
            var nums = msg.split("\r").length - 1;
            if (nums > len) {
                return false;
            }
            return true;
        }
        //验证小数
        function CheckFlagNum(id) {
            var msg = $("#" + id).val()
            if (!/^[0-9]+(.[0-9]{1})?$/.test(msg)) {
                return false;
            }
            return true;
        }

    </script>
</div>
