<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="redisServer" value="192.168.1.107:6379,192.168.1.107:6379"/>
    <add key="memcacheServer" value="192.168.1.107:11211,192.168.1.107:11211"/>
    <add key="ComBeziWfsConnString" value="server=192.168.1.101;database=ComBeziWfs;user id=AppDBUser;password=userdb02@101;"/>
    <add key="ComBeziReportConnString" value="server=192.168.1.101;database=OcsReport;user id=AppDBUser;password=userdb02@101;Connect Timeout=900;"/>
 
    <!--首页楼层切换时间 5分钟-->
    <add key="AdShowTypeChangePeriod" value="300000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>